/* client/style.css */
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}



.event-marker {
background-image: url('https://cdn-icons-png.flaticon.com/512/1257/1257369.png');
background-size: cover;
width: 40px;
height: 40px;
border-radius: 50%;
cursor: pointer;
border: 2px solid #fff;
box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}

.modal-content {
background: white;
padding: 20px;
border-radius: 8px;
width: 90%;
max-width: 400px;
box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-content h2 {
margin-top: 0;
}

#event-description {
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.modal-actions {
text-align: left;
}

.hide {
display: none;
}